.footer {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 350px;
    margin: 0 auto;
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%)
         
        , #211F20;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 310px;
    margin: 0 auto;
  }

.footer__content {
    width: 278px;
    height: 234px;
}



.footer__content-title {

    width: 278px;
    height: 90px;
    margin-bottom: 40px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    white-space: nowrap;
}

.footer__content-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer__content-item span {

    width: 191px;
    height: 23px;
    margin-left: 15px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    white-space: nowrap;
}

.footer__puppy {
    width: 300px;
    height: 310px;
}

.footer__content:nth-child(2) {
    width: 302px;
    height: 234px;
     
}