.start-screen {
    width: 1280px;
    height: auto;
    /* border: 5px solid forestgreen; */
    margin: 0 auto;
}

.start-screen__wrapper {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #211F20;
    width: 100%;
    
}

.start-screen__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    width: 1200px;
    height: 908px;
    margin: 0 auto;
    /* width: 85%;
    height: 90vh; */
    /* left: 40px;
    top: 180px; */
    /* border: 5px solid rgb(37, 188, 72); */
}

.start-screen__content {
    width: 42%;
    height: auto;
    /*  border: 5px solid rgb(212, 226, 19); */
}

.start-screen__puppy {
    width: 48%;
    height: auto;
    /* border: 3px solid rgb(65, 95, 170); */
}

.start-screen__puppy img {
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */
}

.start-screen__title {
    width: 80%;
    height: auto;
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: white;
    margin-bottom: 30px;
}

.start-screen__subtitle {
    width: 99%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 160%;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.start-screen__button button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;


    background: #F1CDB3;
    border: none;
    border-radius: 100px;
}